<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendancemanager">

    <!-- Add permissions if needed (e.g., for exporting data) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- For older Android versions -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        tools:targetApi="31">

        <!-- Login Activity (Entry Point) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Manage Classes Activity -->
        <activity
            android:name=".ManageClassesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Add Student Activity -->
        <activity
            android:name=".AddStudentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Take Attendance Activity -->
        <activity
            android:name=".TakeAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>